root = true


[*]
indent_style = space
indent_size = 4

[*.{ts,js}]
ij_typescript_spaces_within_imports = true
ij_javascript_spaces_within_imports = true

ij_typescript_spaces_within_brackets = true
ij_javascript_spaces_within_brackets = true

ij_typescript_spaces_within_object_literal_braces = true
ij_javascript_spaces_within_object_literal_braces = true

ij_typescript_force_semicolon_style = false
ij_javascript_force_semicolon_style = false

[*.{html,svelte,css}]
indent_size = 2

[*.{html,svelte}]
ij_html_space_inside_empty_tag = true
