* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-weight: bold;
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

a,
a:hover {
  color: currentColor;
  text-decoration: none;
}

.main-width {
  margin-left: 280px;
  width: calc(100% - 200px);
  height: 100vh;
  overflow-y: auto;
}

/* ChatBlock CSS  */

.chat-block {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 20px 40px;
}

.chat-main {
  width: 100%;
  display: flex;
}

.chat-profile {
  min-width: 35px;
  height: 35px;
  margin-right: 20px;
}

.chat-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-content {
  width: 90%;
  padding: 0 40px;
  font-size: 15px;
  letter-spacing: 0.1em;
  color: white;
  word-break: break-all;
}

/*  */

.user-block-bg {
  background-color: transparent;
}

.ai-block-bg {
  background-color: #444654;
}

/* Tiptap */

.tiptap {
  background-color: #42414f;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 800px;
  height: 50px;
  font-size: 20px;
  color: white;
  padding: 10px;
  margin: 10px;
}
